#root {
  text-align: center;
}

.education {
  margin-bottom: 0px;
  text-align: left;
}

.indented {
  margin-left: 2em;
}

.leftAlign {
  text-align: left;
}

.objective {
  margin-left: 2em;
  text-align: left;
}

.resume-job-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0px;
}

.resume-section-header {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0px;
}

.spread-content {
  display: flex;
  justify-content: space-between;
}

ul {
  margin-top: -20px;
}

ul li {
  text-align: left;
  margin-left: -10px;
}


