#root {
  text-align: center;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
}

.education {
  margin-bottom: 0px;
  text-align: left;
}

.indented {
  margin-left: 2em;
}

.leftAlign {
  text-align: left;
}

.objective {
  margin-left: 2em;
  text-align: left;
}

.resume-job-title {
  text-align: left;
  font-weight: bold;
  margin-bottom: 0px;
}

.resume-section-header {
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0px;
}

.project-section-header {
  font-weight: 500;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0px;
  line-height: 1.2;
}

.project-section-header span {
  font-size: 16px;
  font-weight: normal;
}

.spread-content {
  display: flex;
  justify-content: space-between;
}

ul {
  margin-top: -20px;
}

ul li {
  text-align: left;
  margin-left: -10px;
}


